{
	"prefix": "!",
	"ownerID": "[YOUR DISCORD ID #]",
	"discordToken": "[DISCORD API TOKEN]",
	"channelID" : {
			"games" : "[CHANNEL ID]",
			"art" : "[CHANNEL ID]",
			"etc" : "[CHANNEL ID]",
	},
"twitch" : {
	"enabled" : true,
	"token" : "[TWITCH API TOKEN]",
	"channels" : [
			{ "enabled" : true, "channelName" : "[TWITCH CHANNEL NAME 1]",  "category" : "games", "message" : "[TWITCH CHANNEL ANNOUNCE MESSAGE 1]"},
			{ "enabled" : true, "channelName" : "[TWITCH CHANNEL NAME 2]", "category" : "art", "message" : "[TWITCH CHANNEL ANNOUNCE MESSAGE 2]"},
			{ "enabled" : true, "channelName" : "[TWITCH CHANNEL NAME 3]", "category" : "etc", "message" : "[TWITCH CHANNEL ANNOUNCE MESSAGE 3]"}			]
	}
}